/* Body */

body {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../Images/Background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed

}


/* Navbar */

.nav-bar {

    top: 0;
    position: sticky;
    z-index: 2;
    border-bottom-style: solid; 
    border-bottom-width: 1px; 
    border-bottom-color: #fff;

}

.navbar-toggler {

    outline: none !important;

}

.navbar-brand {

    margin-left: 50px

}

.navbar-nav {

    float: right;
    text-align: left;
    margin-right: 50px

}


/* Images */

img{

    width:100% !important;
    height:85% !important;

}


/* Title Class  */

.title{

    color: #000;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    font-size: 40px;
    padding-top: 25px; 
    text-align: center;
    margin-top: -25px;
    text-shadow: #fff 4px 4px 4px

}

/* Paragraph Element */

p{

    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 

}

/* Box Class */

.box {

    margin-top: 50px;  
    padding: 30px; 
    background-color: rgb(170, 170, 170);
    border-radius: 30px;
    border: 1px solid #fff;
    margin: 30px
    
   
}

.panel {

    border-radius: 25px;
    

}

/* Text Under Images */

.text_under_image {

    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 10px

}


/* Footer */

footer{

    background-color:rgb(170, 170, 170); 
    color: #000; 
    min-height: 40px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px; 
    border-top-style: solid; 
    border-top-width: 1px; 
    border-top-color: #fff;

}

.fa-heart-o {

    color: red;

}

.chart-title {

    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-shadow: #000 4px 4px 4px

}

.personal_github {

    color: #fff;
    text-shadow: #000 2px 2px 2px

}

.footer .btn {

    padding: 2px 6px 2px 6px;
    margin-right: 25px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
    float: right;

}

.footer .btn:focus {

    box-shadow: none !important;
    
}

.footer .btn:hover {

    border: 2px solid #fff !important;
    background: #fff !important;
    color: #000 !important;
    transition: 0.7s;

}

.footer .btn .fa {

    margin-right: 10px; 

}



/* Hover */

.panel:hover {

    border-color:#000;
    border-style: solid; 
       
}

.dropdown-item:hover {

    background-color: lightgray;
    font-weight: bold
    
}

.personal_github:hover {

    color: white

}


.dropdown-item:active {

    color: black

}


